.user-id-card {
  margin: 3% auto;
}
.user-id-card .not-found,
.user-id-card__content {
  width: 74%;
}
.user-id-card__content {
  background: #c8c9cb;
  border-radius: 6px;
  padding: 20px 20px 35px;
  box-sizing: border-box;
  color: #24292f;
}
.user-id-card__content__header {
  padding: 10px 0px;
  box-sizing: border-box;
}
.user-id-card__content__header h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.user-id-card__content__img {
  padding: 15px 0px;
  box-sizing: border-box;
}
.user-id-card__content__img img {
  width: 30%;
}
.user-id-card__content__details {
  width: 75%;
  margin: 0 auto;
}
.user-id-card__content__details p {
  padding: 5px 0px;
}
.user-id-card__field {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
@media only screen and (max-width: 480px) {
  .user-id-card,
  .user-id-card__content,
  .user-id-card__content__details,
  .user-id-card .not-found {
    width: 100%;
  }
  .user-id-card__content__header h2 {
    font-size: 20px;
  }
  .user-id-card__field {
    font-size: 16px;
  }
  .user-id-card__content {
    padding-bottom: 25px;
  }
  .user-id-card .not-found {
    padding: 40px;
  }
}
