input {
  padding: 0px 10px;
  border-radius: 6px;
  outline: none;
  border: 2px solid #57606a;
  background-color: inherit;
  font-size: 14px;
}
input,
input:focus,
input::placeholder {
  color: #c8c9cb;
}
